  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="#" id="menu-page-title">Admin</a>
      <!-- Toggle button for mobile navigation -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Navigation links -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="superdashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="create_admin_user">Create Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="admin_users">Admin List</a>
          </li>
          <!-- Add more navigation links as needed -->
            <li class="nav-item">
            <a class="btn btn-danger" href="{% url 'logout_root' %}"><i class="fas fa-logout"></i>Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <script>
    function changeMenuTitle(title)
    {
      document.querySelector("#menu-page-title").innerHTML=title
    }
  </script>